:root {
	--darkblue: #0B2653;
	--medblue: #092E6D;
	--lightblue: #063DA0;
	--linkblue: #009FFF;
	--linkorange: #FB9E3B;
	--textwhite: #FFFFFF;
	--textgrey: #CCC;
	--bgblack: rgba(17,17,17,0.5);
}
body, html {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	background: transparent !important;
}
border-bottom
#HelloWorld {
    color: rgb(14, 14, 14);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
}

#RickRoll {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 12px;
}

#Music_table {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    margin: 2px;
    background-blend-mode: darken, luminosity;
    
}
#gradient {
  z-index: 1;
  background-repeat: no-repeat;
  object-fit: fill;
  color: inherit;
  background-image: radial-gradient(
      ellipse at -83% -55%,
      #141720 57%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(126deg, #c43030 16%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(ellipse at -3% 6%, #7136c9 41%, rgba(255, 255, 255, 0) 83%),
    radial-gradient(
      circle at -8% 110%,
      #facfc7 45%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      ellipse at -84% -149%,
      #aa580e 80%,
      rgba(255, 255, 255, 0) 97%
    );
}
#Form {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#background {
  position: fixed; 
  z-index: 1; 
  background-color: black;
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100vw;
}